@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Jersey 10', sans-serif;
}

/* Or, you can apply it to specific elements */
h1, h2, h3 {
    font-family: 'Jersey 10', sans-serif;
}







/* Default state for button */
.button-with-bg {
    position: relative;
    /*background-color: none; !* Default background color *!*/
    overflow: hidden; /* Hide any part of the pseudo-element that goes outside the button */
    color: white; /* Text color */
    transition: transform 1.0s ease-in-out; /* Transition for scaling */
}

.button-with-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('public/buttonbg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0; /* Initially, the background is invisible */
    transition: opacity 0.55s ease-in-out; /* Transition for opacity */
    z-index: -1; /* Ensure the pseudo-element is behind the text */
    width: 100%; /* Adjust width if needed */
    height: 100%; /* Adjust height if needed */
}

.button-with-bg:hover {
    transform: scale(1.10); /* Optional scaling effect on hover */
}

.button-with-bg:hover::before {
    opacity: 1; /* Fade in the background image on hover */
}




.page {
    position: absolute;
    left: 15px;
    right: 15px;
}

.page-enter {
    opacity: 0;
    transform: scale(0.3);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 100ms, transform 500ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(1.9);
    transition: opacity 200ms, transform 300ms;
}


.beat-enter {
    opacity: 0;
    transform: scale(0.5); /* Start smaller */
}

.beat-enter-active {
    opacity: 1;
    transform: scale(1); /* Zoom in to normal size */
    transition: opacity 400ms ease, transform 800ms ease; /* Shorter opacity transition for quicker fade-in */
}

.beat-exit {
    opacity: 1;
    transform: scale(0.1); /* Stay at normal size initially */
}

.beat-exit-active {
    opacity: 0;
    transform: scale(0.1); /* Zoom out */
    /*transition: opacity 300ms ease, transform 100ms ease; !* Shorter opacity transition for quicker fade-out *!*/
}

